@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  /* outline: 2px solid red; */
}

img {
  max-width: 50px;
}

#container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  height: 100vh;
}

#sidebar {
  grid-column: 1/2;
  grid-row: 1/3;
}
