@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  /* outline: 2px solid red; */
}

:root {
  --yellow: #ffd319;
  --orange: #ff901f;
  --strong-pink: #ff2975;
  --purple: #f222ff;
  --blue: #0161e8;
}

img {
  max-width: 50px;
}

#container {
  display: grid;
  grid-template-columns: 0.7fr 4fr;
  grid-template-rows: 1fr 4fr;
  height: 100vh;
}

#sidebar {
  display: grid;
  grid-template-rows: 1fr 8fr;
  padding: 20px;
  grid-column: 1/2;
  grid-row: 1/3;
  background-color: var(--blue);
}

.side-container {
  display: flex; /*display flex solamente para poder poner gap */
  flex-direction: column;
  gap: 3rem;
}

.logo {
  grid-row: 1/2;
}

.logo-text {
  font-size: 2rem;
  font-weight: 800;
  color: white;
}

.options {
  grid-row: 2/3;
}

.site-settings {
  grid-row: 2/3;
  display: flex;
}

#sidebar li {
  list-style: none;
  display: flex;
  gap: 1.3rem;
  cursor: pointer;
  font-size: 1.3rem;
  color: white;
}

.sidebar-list {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  gap: 1.5rem;
}

.logo {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
}

.logo p {
  font-size: 2rem;
}

.logo-img {
  max-width: 5rem;
}

.menu-png {
  max-width: 2rem;
}
