@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap"); /*Main font */
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap"); /*Synthwave font */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  /* outline: 2px solid red; */
}

:root {
  --yellow: #ffd319;
  --orange: #ff901f;
  --strong-pink: #ff2975;
  --purple: #f222ff;
  --blue: #0161e8;
}

#container {
  display: grid;
  grid-template-columns: 0.75fr 4fr;
  grid-template-rows: 1fr 4fr;
  height: 100vh;
}

#sidebar {
  display: grid;
  grid-template-rows: 1fr 8fr;
  padding: 20px;
  grid-column: 1/2;
  grid-row: 1/3;
  background-color: var(--blue);
}

.side-container {
  display: flex; /*display flex solamente para poder poner gap */
  flex-direction: column;
  gap: 3rem;
}

.logo-text {
  font-size: 1.6rem;
  font-weight: 800;
  color: white;
  font-family: "Audiowide", sans-serif;
}

.options {
  grid-row: 2/3;
}

.site-settings {
  grid-row: 2/3;
  display: flex;
}

#sidebar li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.3rem;
  cursor: pointer;
  font-size: 1.3rem;
  color: white;
}

.sidebar-list {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  gap: 1.5rem;
}

.logo {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
}

.logo-img {
  max-width: 5rem;
}

.menu-png {
  max-width: 2rem;
}

#header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

input[type="text"] {
  border-radius: 99em;
  border: none;
  background-color: rgb(216, 216, 216);
  width: 75%;
  height: 30%;
  font-size: 1rem;
  padding-left: 1em;
}

.search-container {
  display: flex;
  align-items: center;
  position: relative;
  bottom: 0.6rem;
  left: 2.5rem;
  gap: 5px;
}

.profile-link {
  padding-left: 7rem;
}

.profile-link-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  padding-top: 1rem;
  justify-content: end;
  padding-right: 4rem;
  font-weight: 900;
}

#notis {
  width: 2rem;
  height: auto;
}

.img-name {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-right: 3rem;
  padding-top: 0.6rem;
}

.profile-link img {
  width: 3rem;
  height: auto;
  cursor: pointer;
}

.greeter {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 2.5rem;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.username {
  font-size: 2rem;
  font-weight: 900;
}

.greeter img {
  width: 5rem;
  height: auto;
}

.button-container {
  display: flex; /* Display flex and container created only to have gap */
  gap: 2rem;
  justify-content: end;
  margin-right: 4rem;
  margin-top: 1.2rem;
}

button {
  cursor: pointer;
  font-weight: 700;
  padding: 0.75em 2.3em;
  border-radius: 99em;
  border: none;
  background-color: var(--purple);
  color: white;
  font-size: 1rem;
}

.btn1 {
  background-color: var(--yellow);
}

.btn2 {
  background-color: var(--orange);
}

.btn3 {
  background-color: var(--strong-pink);
}

#main-content {
  background-color: grey;
}
